/*
Custom Css
*/
.navbar { color: #181F22; }
.carousel-item-active { color: #181F22; }
.footer {background-color: #181F22;}
.bg-dark { background-color: #181F22; }

body{font-family: C:\Users\User\Documents\natalia\01 pagina web PI\templatemo_559_zay_shop\assets\webfonts\Champagne & Limousines.ttf ;}